<div class="p-5 bg-slate-50 min-h-screen max-w-screen self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
  <div class="carousel w-full self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
    <div id="slide1" class="carousel-item relative w-full self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
      <img
      src="/lil_girl.svg"
        class="w-full md:w-1/2 h-1/2 rounded-badge self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide5" class="btn btn-circle">❮</a>
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
      <img
        src="/big_boi.jpg"
        class="w-full md:w-1/2 h-1/2 rounded-badge self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide1" class="btn btn-circle">❮</a>
        <a href="#slide3" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
      <img
        src="/kitten.svg"
        class="w-full md:w-1/2 h-1/2 rounded-badge self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide2" class="btn btn-circle">❮</a>
        <a href="#slide4" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide4" class="carousel-item relative w-full self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
      <img
        src="/big_boi_1.svg"
        class="w-full md:w-1/2 h-1/2 rounded-badge self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide3" class="btn btn-circle">❮</a>
        <a href="#slide5" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide5" class="carousel-item relative w-full self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">
      <img
        src="/big_one.svg"
        class="w-full md:w-1/2 h-1/2 rounded-badge self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto" />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide4" class="btn btn-circle">❮</a>
        <a href="#slide1" class="btn btn-circle">❯</a>
      </div>
    </div>
  </div>
</div>