<footer class="footer footer-center bg-slate-50 text-slate-500 p-10">
  <aside>
    <img src="/paw-solid-green.svg" alt="AR Mainecoons" class="h-16 w-auto py-2" />
    <p class="font-bold">
      AR Mainecoons
    </p>
    <p>
      Designed & Developed by <a href="https://links.drakeafk.io/" class="link link-secondary" target="_blank">Drake Hopkins</a>
    </p>
    </p>
    <p>Copyright © {new Date().getFullYear()}</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a class="border-2 border-primary rounded-full p-3 bg-slate-500" href="https://www.facebook.com/profile.php?id=61559972097437" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          class="fill-slate-50">
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
        </svg>
      </a>
    </div>
  </nav>
</footer>

