<div class="hero bg-secondary min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <img src="/paw-solid-green.svg" alt="paw" class="mx-auto w-16 h-auto py-2 drop-shadow-2xl">
      <h2 class="text-3xl font-bold py-2 text-primary">Welcome to <br><span class="text-4xl text-neutral">AR Mainecoons</span></h2>
      <hr class="border border-slate-500 my-5">
      <h3 class="text-xl py-2 text-primary">Premier Breeder of Stunning Mainecoons</h3> 
      <h5 class="text-md py-2 text-base-200 italic font-semibold">CFA Registered Since 2022</h5>
      <div>
        <hr class="border border-slate-500 my-5">
        <a href="https://find-a-breeder.cfa.org/listing/armainecoons/" target="_blank"><button class="btn no-animation btn-primary text-neutral my-2 pointer-events-none">CFA Registered</button></a>
        <button class="btn no-animation btn-primary text-neutral my-2 pointer-events-none">Champion Bloodline</button>
        <button class="btn no-animation btn-primary text-neutral my-2 pointer-events-none">Searching for a Loving Home</button>
      </div>
      <div
        id="scrollButton"
        class="duration-300">
        <button
          title="Scroll to top"
          aria-label="Scroll to top">
          <img src="/angles-down-solid.svg" alt="angles down" class="w-16 h-auto mx-auto absolute bottom-10 left-0 right-0 animate-pulse p-2 mt-5">
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("scrollButton").addEventListener("click", () => {
    document.getElementById("gallery").scrollIntoView({ behavior: "smooth" });
  });
</script>

