<div class="hero bg-base-content min-h-screen text-center">
    <div class="max-w-md">
      <img src="/paw-solid-green.svg" alt="paw" class="mx-auto w-16 h-auto p-1">
      <h2 class="text-3xl font-bold py-2 text-secondary-content">Welcome to <br><span class="text-4xl text-primary-content">AR Mainecoons</span></h2>
      <hr class="border border-secondary my-5">
      <h3 class="text-xl py-2 text-secondary">Premier Breeder of Stunning Mainecoons</h3> 
      <a class="link" target="_blank" href="ARMainecoonCattery.pdf"><h5 class="text-md py-2 text-secondary italic font-semibold">CFA Registered Since 2022</h5></a>
      <hr class="border border-secondary-content my-5">
    </div>
</div>



