<div class="hero bg-slate-50 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <img src="/paw-solid-green.svg" alt="paw" class="mx-auto w-16 h-auto py-2 drop-shadow-2xl">
      <h2 class="text-3xl font-bold py-2 text-slate-500">Welcome to <br><span class="text-4xl text-secondary">AR Mainecoons</span></h2>
      <hr class="border border-slate-500 my-5">
      <h3 class="text-xl py-2 text-slate-500">Premier Breeder of Stunning Mainecoons</h3> 
      <div>
        <hr class="border border-slate-500 my-5">
        <button class="btn no-animation btn-primary text-slate-50 my-2 pointer-events-none">CFA Registered</button>
        <button class="btn no-animation btn-primary text-slate-50 my-2 pointer-events-none">Champion Bloodline</button>
        <button class="btn no-animation btn-primary text-slate-50 my-2 pointer-events-none">Searching for a Loving Home</button>
      </div>
      <div
        id="scrollButton"
        class="duration-300">
        <button
          title="Scroll to top"
          aria-label="Scroll to top">
          <img src="/angles-down-solid.svg" alt="angles down" class="w-16 h-auto mx-auto absolute bottom-10 left-0 right-0 animate-pulse">
        </button>
      </div>
        <a href="#mission-statement"></a>
    </div>
  </div>
</div>

<script>
  document.getElementById("scrollButton").addEventListener("click", () => {
    document.getElementById("mission-statement").scrollIntoView({ behavior: "smooth" });
  });
</script>

