
<div id="mission-statement" class="min-h-screen bg-base-content self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto lg:px-20">


    <div class="card lg:card-side bg-neutral shadow-xl w-5/6 lg:w-1/2 mx-auto mb-16">
      <div class="card-body">
        <p class="text-center content-center text-secondary bg-base-content border-base-content p-6 rounded-3xl text-xl"> 
          We are a cattery in Texarkana, AR.  We've been breeding Champion European Mainecoon cats since 2022.  All litters are raised under hand and foot inside of our home.  Our kittens will all have first shots and have been tested negative for HCM.
        </p>
      <div class="card-actions justify-center">
        <a href="https://find-a-breeder.cfa.org/listing/armainecoons/" target="_blank">
          <button class="btn btn-accent border-none bg-base-content text-secondary text-md lg:text-lg font-bold">
            CFA Registration Link
          </button>
        </a>
      </div>
      </div>
    </div>

    <div class="card lg:card-side bg-neutral shadow-xl w-5/6 lg:w-1/2 mx-auto mt-16">
    <div class="card-body">
      <p class="text-center content-center text-secondary bg-base-content border-base-content p-6 rounded-3xl text-xl">
        If you are looking for a Mainecoon or have any questions, please click the link below to connect with us on Facebook.
      </p>
      <div class="card-actions justify-center">
        <a href="https://www.facebook.com/profile.php?id=61559972097437" target="_blank">
          <button class="btn btn-accent border-none bg-base-content text-secondary text-md lg:text-lg font-bold">
            AR Mainecoons Facebook
          </button>
        </a>
      </div>
    </div>
  </div>

  </div>


  