<div id="mission-statement" class="min-h-screen bg-slate-500 self-center items-center content-center snap-center text-center place-self-center place-items-center justify-items-center center align-middle mx-auto">

    <div class="card lg:card-side bg-slate-50 shadow-xl w-5/6 lg:w-1/2 mx-auto mt-44 mb-16">
      <figure>
        <img
          src="/big_boi.jpg"
          alt="Album"
          class="p-5 rounded-badge w-3/4 h-auto" />
      </figure>
      <div class="card-body">
        <p class="text-center content-center text-slate-50 bg-secondary border-secondary p-6 rounded-3xl text-xl"> 
          We are based in Texarkana, Arkansas and can provide you a Mainecoone with assurance of health and care.
          <br />
          <br />
          Just ask Mr. Fancy Paws himself :)
        </p>
      </div>
    </div>

    <div class="card lg:card-side bg-slate-50 shadow-xl w-5/6 lg:w-1/2 mx-auto mt-16 mb-44">
      <figure>
        <img
          src="/big_boi_1.svg"
          alt="Album"
          class="p-5 rounded-badge" />
      </figure>
      <div class="card-body">
        <p class="text-center content-center text-slate-50 bg-secondary border-secondary p-6 rounded-3xl text-xl">
          If you are looking for a Mainecoon or have any questions, please click the link below to connect with us on Facebook.
        </p>
        <div class="card-actions justify-end">
          <a href="https://www.facebook.com/profile.php?id=61559972097437" target="_blank">
            <button class="btn btn-primary text-slate-50 text-md lg:text-lg font-bold link">
              AR Mainecoon Facebook Page
            </button>
          </a>
        </div>
      </div>
    </div>

  </div>

