<div class="drawer fixed z-10 justify-center lg:justify-start">
  <div class="drawer-content flex flex-col">
    <div class="navbar bg-transparent w-full">
      <button class="bg-base-content rounded-2xl">
          <div class="m-2 flex-1 p-2 text-secondary font-bold text-lg">
          AR Mainecoons
          </div>
      </button>
    </div>
  </div>
</div>
