<div class="drawer fixed z-10">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-primary w-full">
      <div class="mx-2 flex-1 px-2 text-slate-50 font-bold">AR Mainecoons</div>
</div>