<div class="drawer fixed z-10">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="navbar bg-transparent w-full">
      <div class="mx-2 flex-1 px-2 text-primary font-bold text-lg">
        AR Mainecoons
      </div>
      <div class="mx-2 px-2">
        <a 
          href="#gallery">
          <button class="btn no-animation btn-primary text-neutral text-lg my-2">
            Gallery
          </button>
        </a>
      </div>
    </div>
  </div>
</div>